# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Clients/NoteFinder-PC/nbproject/private/
/Clients/NoteFinder-PC/dist/
/Clients/NoteFinder-PC/build/

Vision/Vision/Vision.sdf
Vision/Vision/Vision.opensdf
Vision/Vision/Vision.sdf
Vision/Vision/Vision/Debug/Vision.vcxprojResolveAssemblyReference.cache

*.tlog
*.ipch
*.metagen

/Clients/NeuralNetwork/nbproject/private/
/Clients/NeuralNetwork/build/
/Clients/TestDraw/nbproject/private/

Vision/Vision/Vision/x64/Debug/app.res
/Clients/KamertjeVullen/nbproject/private/
/Clients/KamertjeVullen/build/

*.properties

Java/Opencv2Test/build/classes/opencv2test/MatchResult.class

Java/Opencv2Test/build/classes/opencv2test/Opencv2Test.class

Java/Opencv2Test/build/classes/opencv2test/ClassifierImage.class

Java/Opencv2Test/build/classes/opencv2test/Opencv2Test.class

Java/MidiInterface/nbproject/private/private.xml

Java/MidiInterface/nbproject/private/private.xml

Java/Opencv2Test/build/classes/opencv2test/Core/Analyse.class

Java/Opencv2Test/build/classes/opencv2test/Opencv2Test.class

Java/Opencv2Test/nbproject/private/private.xml

Java/Opencv2Test/src/opencv2test/ClassifierImage.java

Java/Opencv2Test/src/opencv2test/MatchResult.java

Java/Opencv2Test/src/opencv2test/MatchResults.java

*.class

*.class
/Java/Opencv2Test/nbproject/private/
*.xml~
*.class
/Java/Opencv2Test/dist/
*.form

*.class

*.class

*.form

*.class
